MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<database>?appName=ClusterTuiTenTai
PORT=3000
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d
REFRESH_TOKEN_EXPIRES_IN=30d
FRONTEND_URL=http://localhost:4200

# Cấu hình gửi Email OTP qua Gmail / SMTP Server (Tuỳ chọn)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
