MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<database>?appName=ClusterTuiTenTai
PORT=3000
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d
REFRESH_TOKEN_EXPIRES_IN=30d
FRONTEND_URL=http://localhost:4200

# Cấu hình gửi Email OTP qua Brevo (Miễn phí 300 mail/ngày) hoặc Gmail
# Với Brevo:
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_account_email@gmail.com
SMTP_PASS=your_brevo_smtp_key_here
SMTP_FROM=your_brevo_account_email@gmail.com

